# Sensitive files
.env
.env.local
*.key
*.pem
config/database.yml
secrets/
private/
.vscode/launch.json
logs
python-client/client_identity.json
python-client/logs/
__pycache__/
*.pyc
.formatter-tmp/
node_modules/
storage/
python-client/disable_watchdog.flag
python-client/client.pid
python-client/watchdog.pid